@font-face {
    font-family: Dark Souls;
    src: url("fonts/themes/darksouls/OptimusPrinceps.ttf");
}

@font-face {
    font-family: Dark Souls Bold;
    src: url("fonts/themes/darksouls/OptimusPrincepsSemiBold.ttf");
}

html{
    height: 100vh;

}

body {
    font-size: 13pt;
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    background-image: url("img/themes/desktop/background.jpg");
    background-size: 100% 100%;
    padding:100px;
}

h2 {
    margin-top: 0px;
    font-weight: bold;
}

#status {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightGray;
}

#status div {
    display: inline-block;
    padding: 10px 20px;
    color: gray;
    border-left: 1px solid lightGray;
    border-right: 1px solid lightGray;
}

#status div + div {
    border-left: none;
}

.section {
    padding: 10px;
    margin: auto;
    max-width: 600px;
    border: 5px solid #accded;
    border-top: 20px solid #accded;
    border-radius: 5px;
    background-color: #ffffff;
}

.section#intro {
    display: block;
}

.section button {
    display: block;
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin-top: 30px;
    background: lightGray;
    border: none;
    cursor: pointer;
}

.section button + button {
    margin-top: 10px;
}

.section button:hover {
    color: lightGray;
    background-color: black;
}

.battle {
    padding: 10px 10px;
    margin: 20px 0px;
    box-shadow: 0px 2px 8px gray;
}

#moon-moon {
    width: 540px;
    height: 440px;
    position: fixed;
    bottom: -500px;
    left: 50px;
    background-repeat: no-repeat;
    background-image: url(img/moonmoon.png);
}

.section .interactions {
    width: 100%;
    display: table;
    margin-top: 30px;
}

.section interaction {
    display: table-cell;
    color: black;
    text-decoration: none;
    padding: 5px;
    background: lightGray;
    margin: 2px;
    cursor: pointer;
    text-align: center;

}

.section interaction:hover {
    color: lightGray;
    background-color: black;
}

.section > .interactions > textarea {
    height: 400px;
}

.section > .interactions > textarea, .section > .interactions input {
    width: 90%;
    resize: none;
    border: 5px solid #ccc;
    margin: auto 5%;
}

.section > .interactions #compteur-mots {
    font-weight: bold;
    color: red;
}

.section interaction.toggle.active {
    background: #333;
    color: white;
}

.section .error {
    color: red;
    font-weight: bold;
}

.dark-souls {
    font-family: "Dark Souls", "Arial Black", sans-serif;
    background-image: url("img/themes/darksouls/background.jpg");
    background-size: 100%;
}

body.dark-souls #status, body.dark-souls #status * {
    border: 0;
}

body.dark-souls > .section {
    background-image: url("img/themes/darksouls/frame.png");
    background-size: 100% 100%;
    padding: 20px;
    color: white;
    border: 0;
    background-color: transparent;
}

body.dark-souls > .section button, body.dark-souls > .section interaction {

    font-family: "Dark Souls", "Arial Black", sans-serif;
    background-color: transparent;
    color:white;
}

 body.dark-souls > .section input[type="text"] {

    font-family: "Dark Souls", "Arial Black", sans-serif;
    background-color: transparent;
    color:white;
    border: 0;
    border-bottom: 1px solid grey;
}
body.dark-souls > .section input[type="text"]:focus {

    outline: none;
    text-shadow: #ffffff;
}

body.dark-souls > .section button:hover,
body.dark-souls > .section interaction:hover,
body.dark-souls > .section interaction.active {

    background-color: #886f40;
}

.section audioplayer {
    display: none;
}

.section + section {
    display: none;
}

#inventory {
    display: none;
}

body.dark-souls > #inventory {
    display: block;
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-image: url("img/themes/darksouls/frame.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100px;

}

#inventory > table {
    width: 100%;
    height: 100%;
    padding: 4px 20px;
}

#inventory > table td {
    background: no-repeat 50%;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    width: 25%;
    text-align: right;
    vertical-align: bottom;
    font-size: 40px;
    padding-right: 40px;
    color: black;
    text-shadow: 1px 1px 4px #FFF;
}

#inventory > table td[data-item_key] {
    cursor: pointer;
}

#inventory > .description {
    color: #ffffff;
    font-style: italic;
}