body {
	font-size : 13pt;
	font-family : "Trebuchet MS", Arial, sans-serif;
	margin: 0;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

#status {
	position : absolute;
	top : 0px;
	width : 100%;
	text-align : center;
	border-bottom : 1px solid lightGray;
}

#status div {
	display : inline-block;
	padding : 10px 20px;
	color : gray;
	border-left : 1px solid lightGray;
	border-right : 1px solid lightGray;
}
#status div+div {
	border-left : none;
}

.section {
	padding : 10px;
	margin : auto;
	margin-top : 100px;
	max-width : 600px;
	border : 1px solid lightGray;
}
.section#intro {
	display : block;
}
.section button {
	display : block;
	width : 100%;
	color : black;
	text-decoration : none;
	padding : 5px;
	margin-top : 30px;
	background : lightGray;
	border : none;
	cursor : pointer;
}
.section button+button  {
	margin-top : 10px;
}

.section button:hover {
	color : lightGray;
	background-color : black;
}

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px gray;
}

#moon-moon {
	width: 540px;
	height: 440px;
	position: fixed;
	bottom: -500px;
	left: 50px;
	background-repeat: no-repeat;
	background-image: url(img/moonmoon.png);
}

.section .interactions {
	width: 100%;
	display: table;
	margin-top: 30px;
}

.section interaction {
	display: table-cell;
	color: black;
	text-decoration: none;
	padding: 5px;
	background: lightGray;
	border: 2px solid #eee;
	cursor: pointer;
	text-align: center;

}

.section interaction:hover {
	color: lightGray;
	background-color: black;
}

.section > .interactions > textarea {
	height: 400px;
}

.section > .interactions > textarea, .section > .interactions  input {
    width: 90%;
    resize: none;
    border: 5px solid #ccc;
    margin: auto 5%;
}

.section > .interactions #compteur-mots {
	font-weight: bold;
	color: red;
}

.section interaction.toggle.active{
    background: #333;
    color:white;
}

.section .error{
    color:red;
    font-weight: bold;
}